<div class="border">

    <p style="color: green"><%= notice %></p>

    <h1>Twitters</h1>

    <%= link_to "Nuevo Twitt", new_twitter_path %>

    <div id="twitters">
      <% @twitters.each do |twitter| %>
        <div class="border">
        <%= render twitter %>
          <p>
           <%= link_to "Mostrar este twitt", twitter %>
          </p>
        </div> 
      <% end %>
    </div>
</div>

